.circle{
    border-radius: 300px; /* Радиус скругления */
    border: 2px solid green; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
   
}
/*.fill {
    object-fit: fill;
}
.contain {
object-fit: contain;
}
.cover {
    object-fit: cover;
}
.scale-down {
    object-fit: scale-down;
    
}
.none{
object-fit: none;
};*/