.icon1{
    color: rgb(6, 208, 248);
    background-color: chocolate;
    margin-top: auto;
}
.icon2{
    color: greenyellow;
    background-color: cyan;
    margin-top: auto;
}
.div {
    height:350px;
     width:350px       
};