
.style1{
    background-color: blue;
    color: rgb(255, 3, 163);
    cursor: pointer;
    padding: 15px;
}
.style2{
    background-color:gold;
    color: green;
    cursor: pointer;
    padding: 15px;
}